# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=${APP_ENV}
APP_SECRET=app_secret
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=${DATABASE_URL}
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
#MAILER_DSN=mailer_dns
###< symfony/mailer ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=jwt_passphrase
###< lexik/jwt-authentication-bundle ###

SENDGRID_API_KEY=sendgrid_api_key

CDN_PROJECT_ID=cdn_project_id
CDN_API_KEY=cdn_api_key
CDN_CALLBACK_KEY=cdn_callback_key
CDN_URL=cdn_url

BACKEND_URL=backend_url
FRONTEND_URL=https://soukromekino.cz
